
    .titlelogo{
        width: 180px;
        height: 60px;
    }
    
    body {
        background-image: url("assets/images/wallpaper.jpg");
        color: white;
        background-position: center;
        font-family: 'Shadows Into Light', cursive;
    }
    
    .search{
        width:300px;
        height: 30px;
        border: 0;
        border-radius: 10px;
        text-align: center;
        margin-top: 15px;
    
    }
    
    .searchButton{
    border-radius: 100%;
    }
    
    .marquee{ 
      color:white;
      width: 100%;
      height: 430px;
      font-size: 20px;
      overflow: -webkit-marquee;
      -webkit-marquee: up infinite slide;
      -webkit-marquee-speed: 280;
      margin: 0px;
      padding: 0px;
    }
    
    pre{
      color:white;
      font-family: 'Orienta', sans-serif;
    }
    
    .titles{
     color: lightgray;
     font-family: 'Lobster', cursive;
     font-size: 30px;
    opacity: .9;
    }
    
    .events{
        font-family: 'Orienta', sans-serif;
    }
    
    .table{
        text-align: center;
    }
    
    hr{
        border-color: gray;
    }
    .ticket{
        font-size: 15px;
    }
    .ticketlogo{
        width:50px;
        height: 45px;
    }
    .locationlogo{
        width:25px;
        height: 25px;
    }
    
    .table{
        background: black
    }
    
    .mainlogo{
     width: 180px;
     height: 65px;
     align-content: center;
     margin-left: 250px;
    }