
    .titlelogo{
        width: 180px;
        height: 60px;
    }

    a, a:hover {
        text-decoration: none;
        color: white;
    }


    body {
        background-image: url("images/wallpaper.jpg");
        color: white;
        background-position: center;
        font-family: 'Orienta', sans-serif;
    }
    
    .search{
        width:300px;
        height: 30px;
        border: 0;
        border-radius: 10px;
        text-align: center;
        margin-top: 15px;
    
    }

    .songslist{
        font-family: 'Orienta', sans-serif;
        font-size: 15px;
        text-align: left;
    }
    
    .searchButton{
    }
    
    .marquee{ 
      color:white;
      width: 300px;
      height: 430px;
      font-size: 20px;
      overflow: -webkit-marquee;
      -webkit-marquee: up infinite slide;
      -webkit-marquee-speed: 280;
      margin: 0px;
      padding: 0px;
    }
    
    pre{
      color:white;
      font-family: 'Orienta', sans-serif;
    }
    
    .titles{
     color: rgb(219, 21, 170);
     font-family: 'Lobster', cursive;
     font-size: 30px;
    opacity: .9;
    }
    
    .events{
        font-family: 'Orienta', sans-serif;
    }
    
    .table{
        text-align: center;
    }
    
    hr{
        border-color: gray;
    }
    .ticket{
        font-size: 15px;
    }
    .ticketlogo{
        width:50px;
        height: 45px;
    }
    .locationlogo{
        width:25px;
        height: 25px;
    }
    
    .mainlogo{
     width: 180px;
     height: 65px;
     position:absolute;
     top:60%;
     left:40%;
     margin-left:-100px;/* half width*/
     margin-top:-300px;/* half height*/
     width: 350px;
     height: 100px;
    }
.login{
    background: gray;
}
    .loginbutton {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 10px;
        margin-left: 220px;
        border-color: rgb(219, 21, 170);
        color: rgb(219, 21, 170);
    }
    .btn-outline-success {
        color: rgb(219, 21, 170);
        background-color: transparent;
        background-image: none;
        border-color: rgb(219, 21, 170);
      }
      
      .btn-outline-success:hover {
        color: #fff;
        background-color: rgb(219, 21, 170);
        border-color: rgb(219, 21, 170);
      }
      
      .btn-outline-success:focus, .btn-outline-success.focus {
        box-shadow: 0 0 0 0.2rem rgb(219, 21, 170);
      }
      
      .btn-outline-success.disabled, .btn-outline-success:disabled {
        color: rgb(219, 21, 170);
        background-color: transparent;
      }
      
      .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
      .show > .btn-outline-success.dropdown-toggle {
        color: #fff;
        background-color: rgb(219, 21, 170);
        border-color: rgb(219, 21, 170);
      }
      
      .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgb(219, 21, 170);
      }
    .loginbutton2 {
        position:absolute;
        top:80%;
        left:40%;
        margin-left:-150px;/* half width*/
        margin-top:-300px;/* half height*/
    }

    table{
        overflow-y:scroll;
        height:350px;
        display:block;
        width: 50%;
     }

     th, td {
        text-align: left;
        padding: 8px;
    }
.nowPlaying{
    width: 300px;
}

.head{
    height: 50px;
}
.logoTitle{
width: 180;
height: 50px;
margin-top: 10px;
}

.video{
   padding-right: 10px;
}
.logoButton{
    width: 100px;
    height: 30px;
}

.div3{
    width: 1300px;
}
.logoTitle2{
    width: 180;
    height: 50px;
    margin-top: 10px;
    margin-left: 300px;
    }

    .hexagon {
        width: 50px;
        height: 35px;
        position: relative;
    }
    .hexagon:before {
        content: "";
        position: absolute;
        top: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }
    .hexagon:after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }

    .ticketButton{
width: 70px;
height: 30px;
font-size: 10px;
text-align: center;
text-decoration: none;
    }

    .artistButton{
        width: 70px;
        height: 30px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
            }

    .btn-outline-primary {
        color: rgb(219, 21, 170);
        background-color: transparent;
        background-image: none;
        border-color: rgb(219, 21, 170);
        text-decoration: none;
      }
      
      .btn-outline-primary:hover {
        color: #fff;
        background-color: rgb(219, 21, 170);
        border-color: rgb(219, 21, 170);
        text-decoration: none;
      }
      
      .btn-outline-primary:focus, .btn-outline-success.focus {
        box-shadow: 0 0 0 0.2rem rgb(219, 21, 170);
        text-decoration: none;
      }
      
      .btn-outline-primary.disabled, .btn-outline-success:disabled {
        color: rgb(219, 21, 170);
        background-color: transparent;
        text-decoration: none;
      }
      
      .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
      .show > .btn-outline-success.dropdown-toggle {
        color: #fff;
        background-color: rgb(219, 21, 170);
        border-color: rgb(219, 21, 170);
      }
      
      .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgb(219, 21, 170);
      }
      tr{
          border-color: red;
      }
      .placeholder{
          height: 30px;
          width: 50px;
      }

      .table-dark{
          background: black;
      }

      #main{
          background: black;
      }
      #video{
          opacity: .7;
      }
   #track > tr > td {
        color: red;
      }
      
     #track > td > a:hover,
 #track > td > a:active,
#track > td > a:focus{
        color: white;
        background-color: purple;
      }

.master, .master:visited  {
    margin-top: 40%;
    font-weight: bold;
    color: white;
}
