
    .titlelogo{
        width: 180px;
        height: 60px;
    }
    
    body {
        background-image: url("images/wallpaper.jpg");
        color: white;
        background-position: center;
        font-family: 'Orienta', sans-serif;
    }
    
    .search{
        width:300px;
        height: 30px;
        border: 0;
        border-radius: 10px;
        text-align: center;
        margin-top: 15px;
    
    }

    .songslist{
        font-family: 'Orienta', sans-serif;
        font-size: 15px;
        text-align: left;
    }
    
    .searchButton{
    border-radius: 100%;
    }
    
    .marquee{ 
      color:white;
      width: 100%;
      height: 430px;
      font-size: 20px;
      overflow: -webkit-marquee;
      -webkit-marquee: up infinite slide;
      -webkit-marquee-speed: 280;
      margin: 0px;
      padding: 0px;
    }
    
    pre{
      color:white;
      font-family: 'Orienta', sans-serif;
    }
    
    .titles{
     color: lightgray;
     font-family: 'Lobster', cursive;
     font-size: 30px;
    opacity: .9;
    }
    
    .events{
        font-family: 'Orienta', sans-serif;
    }
    
    .table{
        text-align: center;
    }
    
    hr{
        border-color: gray;
    }
    .ticket{
        font-size: 15px;
    }
    .ticketlogo{
        width:50px;
        height: 45px;
    }
    .locationlogo{
        width:25px;
        height: 25px;
    }
    
    .table{
        background: black
    }
    
    .mainlogo{
     width: 180px;
     height: 65px;
     align-content: center;
     margin-left: 250px;
    }

    .loginbutton {
        position:absolute;
        top:90%;
        left:50%;
        margin-left:-100px;/* half width*/
        margin-top:-300px;/* half height*/
        font-family: Arial, Helvetica, sans-serif;
    }
    .loginbutton2 {
        position:absolute;
        top:80%;
        left:40%;
        margin-left:-100px;/* half width*/
        margin-top:-300px;/* half height*/
    }
    .loginbutton3 {
        position:absolute;
        top:60%;
        left:40%;
        margin-left:-100px;/* half width*/
        margin-top:-300px;/* half height*/
        width: 350px;
        height: 100px;
    }

    table{
        overflow-y:scroll;
        height:350px;
        display:block;
        width: 50%;
     }

     th, td {
        text-align: left;
        padding: 8px;
    }
.nowPlaying{
    width: 300px;
}